.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background-color: #fff;
  z-index: 1;
  border-bottom: 2px solid #495e57;
}
.logo {
  display: block;
}

.logo img {
  display: block;
  width: 160px;
  height: 44px;
}
.hamburger{
  display: none;
}
.container{
  width: 1300px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav{
  display: flex;
  column-gap: 1.5rem;
  list-style: none;
}
.nav li{
  text-transform: uppercase;
  font-weight: 600;
}
.nav li a{
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.nav li  a:hover{
  border-color: #495e57;
}
@media (max-width: 1024px) {
  .nav {
    position: absolute;
    left: -280px;
    top: 0;
    display: block;
    height: 100vh;
    background: #fff;
    width: 250px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.6);
    transition: left 300ms linear;
  }
  .nav li a{
    display: block;
    padding: 14px 10px;
    border-bottom: 1px solid #495e57;
  }
  .nav li a:hover{
    background: #ebebeb;
  }
  .navActive{
    left: 0;
    transition: left 300ms linear;
  }
  .hamburger{
    display: block;
  }
  .hamburger svg{
    display: block;
    width: 30px;
    height: 30px;
  }
}